# Lab 1  

__Objectives:__

1. Introduce the concept of a data repository,

2. Introduce pupular data repositories,

3. Extracting data from databases

4. Exploratory Data Analysis

## Data Repositories

For your final project you need data. You can find good data sources online. The two most popular online sources are:

1. Data repositories: These are websites where people upload datasets for various purposes.

2. Data competition sites: Platforms where you can access datasets for data science competitions.

## Data Source

Here are some websites you can collect your data from:


1. [The UC Irvine Machine Learning Repository](https://archive.ics.uci.edu)

2. [The Harvard Dataverse](https://dataverse.harvard.edu/)

3. [FiveThirtyEight](https://github.com/fivethirtyeight/)

4. [NYtimes](https://github.com/nytimes)

5. [Kaggle](https://www.kaggle.com)

6. [The International Data Analysis Olympiad](https://idao.world/)


Check out these links for a few minutes!

## Data Extraction
Let's see how you can use a repository to access data. Note that I'm not assuming you know any of these! So let me know if you have any questions.

### Example 1

Check this out: 

[How Baby Boomers Get High](https://fivethirtyeight.com/features/how-baby-boomers-get-high/)


1. Go to the link associated with the data file https://github.com/fivethirtyeight/data/blob/master/drug-use-by-age/drug-use-by-age.csv

2. Click on the `Raw` button above the data table on the page.
3. Save the file as `drug-use-by-age.csv`, and upload it to Google Colab
4. Run the code chunks below.

In [2]:
import pandas as pd

In [ ]:
data = pd.read_csv("drug-use-by-age.csv")

Let's look at the first 5 rows of our data

In [33]:
data.head()

,age,n,alcohol_use,alcohol_frequency,marijuana_use,marijuana_frequency,cocaine_use,cocaine_frequency,crack_use,crack_frequency,...,oxycontin_use,oxycontin_frequency,tranquilizer_use,tranquilizer_frequency,stimulant_use,stimulant_frequency,meth_use,meth_frequency,sedative_use,sedative_frequency
0,12,2798,3.9,3.0,1.1,4.0,0.1,5.0,0.0,-,...,0.1,24.5,0.2,52.0,0.2,2.0,0.0,-,0.2,13.0
1,13,2757,8.5,6.0,3.4,15.0,0.1,1.0,0.0,3.0,...,0.1,41.0,0.3,25.5,0.3,4.0,0.1,5.0,0.1,19.0
2,14,2792,18.1,5.0,8.7,24.0,0.1,5.5,0.0,-,...,0.4,4.5,0.9,5.0,0.8,12.0,0.1,24.0,0.2,16.5
3,15,2956,29.2,6.0,14.5,25.0,0.5,4.0,0.1,9.5,...,0.8,3.0,2.0,4.5,1.5,6.0,0.3,10.5,0.4,30.0
4,16,3058,40.1,10.0,22.5,30.0,1.0,7.0,0.0,1.0,...,1.1,4.0,2.4,11.0,1.8,9.5,0.3,36.0,0.2,3.0

In [23]:
# Find the first 10 rows
# code here

In [24]:
# Print the last 5 row?
# code here

In [25]:
# Print the first 10 entry?
#code here

In [26]:
#check what the function data.sample()does. What happens if you toss a number inside those parentheses (as an argument)?

Lets have a overall look of the dataset, checking if there is any inconsistency in the Dataset.

In [43]:
print('Rows:',data.shape[0])
print('Columns:',data.shape[1])

Rows: 17
Columns: 28

In [44]:
print('Columns (features)')
print()
print( data.columns.tolist())

Columns (features)

['age', 'n', 'alcohol_use', 'alcohol_frequency', 'marijuana_use', 'marijuana_frequency', 'cocaine_use', 'cocaine_frequency', 'crack_use', 'crack_frequency', 'heroin_use', 'heroin_frequency', 'hallucinogen_use', 'hallucinogen_frequency', 'inhalant_use', 'inhalant_frequency', 'pain_releiver_use', 'pain_releiver_frequency', 'oxycontin_use', 'oxycontin_frequency', 'tranquilizer_use', 'tranquilizer_frequency', 'stimulant_use', 'stimulant_frequency', 'meth_use', 'meth_frequency', 'sedative_use', 'sedative_frequency']

In [45]:
print(' Unique Values')
print()
print( data.nunique())

 Unique Values

age                        17
n                          17
alcohol_use                16
alcohol_frequency           9
marijuana_use              17
marijuana_frequency        10
cocaine_use                14
cocaine_frequency          10
crack_use                   5
crack_frequency            13
heroin_use                  9
heroin_frequency           17
hallucinogen_use           16
hallucinogen_frequency      6
inhalant_use               15
inhalant_frequency         11
pain_releiver_use          15
pain_releiver_frequency    10
oxycontin_use              12
oxycontin_frequency        15
tranquilizer_use           15
tranquilizer_frequency     10
stimulant_use              16
stimulant_frequency        11
meth_use                    9
meth_frequency             14
sedative_use                6
sedative_frequency         14
dtype: int64

Here is another useful function:

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      17 non-null     object
 1   n                        17 non-null     int64
 2   alcohol_use              17 non-null     float64
 3   alcohol_frequency        17 non-null     float64
 4   marijuana_use            17 non-null     float64
 5   marijuana_frequency      17 non-null     float64
 6   cocaine_use              17 non-null     float64
 7   cocaine_frequency        17 non-null     object
 8   crack_use                17 non-null     float64
 9   crack_frequency          17 non-null     object
 10  heroin_use               17 non-null     float64
 11  heroin_frequency         17 non-null     object
 12  hallucinogen_use         17 non-null     float64
 13  hallucinogen_frequency   17 non-null     float64
 14  inhalant_use             17 non-null     float64
 15  inhalant_frequency       17 non-null     object
 16  pain_releiver_use        17 non-null     float64
 17  pain_releiver_frequency  17 non-null     float64
 18  oxycontin_use            17 non-null     float64
 19  oxycontin_frequency      17 non-null     object
 20  tranquilizer_use         17 non-null     float64
 21  tranquilizer_frequency   17 non-null     float64
 22  stimulant_use            17 non-null     float64
 23  stimulant_frequency      17 non-null     float64
 24  meth_use                 17 non-null     float64
 25  meth_frequency           17 non-null     object
 26  sedative_use             17 non-null     float64
 27  sedative_frequency       17 non-null     float64
dtypes: float64(20), int64(1), object(7)
memory usage: 3.8+ KB

We can also load the directly from the website by placing the raw csv file directly into `.read_csv`.

In [3]:
#Code here
data = pd.read_csv("LINK")

FileNotFoundError: [Errno 2] No such file or directory: 'LINK'

In [ ]:
#Code here

Can you filter your table to have information only among people in the age range 20-50

In [ ]:
#Code here

Let's plot this new table using scatter matrix.

In [ ]:
#Code here

### Example: Extracting Data from Kaggle.com

Let's now show you how to grab some data from Kaggle.com. Heads up, __you'll need a Kaggle profile for this__.

Kaggle has a whole section dedicated to public datasets, [here](https://www.kaggle.com/datasets). Today, we're downloading the famous iris dataset from [this link](https://www.kaggle.com/uciml/iris).

#### Instructions

1. Go to this [link](https://www.kaggle.com/uciml/iris).
2. Download and unzip the zip file. Then upload the `Iris.csv` to Google Colab page.

In [ ]:
#Read the Iris.csv file using pandas

In [29]:
#Examine the first five and the last five rows.

In [30]:
#Examine a random sample

In [47]:
#Explor the data and check if there is any inconsistency in the Dataset.

In [ ]:
# you code

## Exploratory Data Analysis
 
Exploratory Data Analysis (EDA) is a critical step in data analysis that identifies general patterns and relations in the data.


Lets start with the
For example, we use scatter plots that show pairwise relationships between several variables.

Now lets try to plot the data and have some ideas about the relation between different columns.

In [65]:
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt


#scatter_matrix(data, figsize=(14,14))

#plt.show()

When we're training algorithms, we need to pay attention to how many features we've got and how they relate to each other. If we've got a bunch of features that are all tangled up (correlated), using them all can mess with our accuracy. So, we've got to be smart about picking the right ones. But how?

In machine learning and data analysis, understanding feature correlations is important because highly correlated features can sometimes provide redundant or overlapping information to algorithms, which can lead to suboptimal model performance. Therefore, feature selection or feature engineering techniques are used to choose the most relevant and uncorrelated features for modeling.

__Correlation__ We say two or more features (variables) in a dataset are correlated if there is a statistical relationship or association between them. When features are correlated, changes in one feature may be related to changes in another. 

For example, if you have two features in a dataset, such as "temperature" and "ice cream sales," and you notice that as the temperature increases, ice cream sales also tend to increase, these two features can be considered correlated. In simpler terms, when one goes up, the other often goes up as well, or vice versa. In most data, pairwise correlations may not provide enough insights, and multivariate appraoches to exploratory data analyses are recommended.

In [67]:
# use .corr() to find pairwise correlation in CSV file of example 1

In [ ]:
# run this code for a better view
plt.figure(figsize=(10,8))

sns.heatmap(df.corr(), annot=True, cmap='cubehelix_r')
plt.show()

Let's say your project focuses on only alcohol, marijuana and cocain. Create a table that specifically captures data on alcohol, marijuana, and cocaine.

In [68]:
# code here

AMC =

In [69]:
# 1- Find the pariwise correlation in this new table.

In [70]:
# 2- Plot the heatmap as above

In [71]:
# 3- How do you interpret the result?

In [72]:
# 4- plot data using scatter matrix

Let's try a different way of plotting: `sns.pairplot`. Check out its documentation to learn how to use it.

Documentation link: [Seaborn pairplot documentation]( https://seaborn.pydata.org/generated/seaborn.pairplot.html)

In [ ]:
#code her

Follow the above steps for the CSV file in the second example.

In [ ]:
# 1- Find the pariwise correlation in Iris.csv

In [ ]:
# 2- Plot the heatmap as above

In [ ]:
# 3- How do you interpret the result?

In [ ]:
# 4- Plot data using scatter matrix

In [ ]:
# 5- Use sns.pairplot to plot data

Congratualtions! You finishied your first lab!

_This lab is written based on Data Science Boot Camp lectures, written by Matthew Osborne, Ph. D., 2021, for for the Erd&#337;s Institute C&#337;de._